.bgimg{
    background-image: url("https://img.freepik.com/free-photo/condiments-prepare-italian-pasta_1220-429.jpg?w=996&t=st=1668697159~exp=1668697759~hmac=81ae22e6dcfe6f10d22dab54907a82ad08ed9b32776b096787cc31567151e675");
    height: 200vh;
    background-size: cover;
}
.heading{
    color:whitesmoke;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size: 45px;
}
.layoutcard{
   background-color: white;
    padding:18px ;
    border-radius: 8px;
    margin: 15px;

}
.mealcont{
    font-size: 30px; ;
    color:#172a47;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.paraline{
    color:#111112;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.mealimg{
    height:120px;
    width:120px;
}
